.menuItemContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--text-white);
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
}

.menuItemActive {
  translate: 0;
}

.menuItemDisplayWeb {
  display: none;
}

@media screen and (min-width: 1200px) {
  .menuItemContainer > p {
    font-size: 12px;
  }

  .menuItemContainer {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1500px) {
  .menuItemContainer {
    padding: 0 25px;
  }
}
