.menu-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 30px;
    color: var(--text-white);
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item>p {
    font-size: 14px;
    margin: 0;
}

.active {
    translate: 0;
}

.display-web {
    display: none;
}

@media screen and (min-width: 1200px) {
    .menu-item>p {
        font-size: 12px;
    }

    .menu-item {
        padding: 0 15px;
    }
}

@media screen and (min-width: 1500px) {
    .menu-item {
        padding: 0 25px;
    }
}