.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerPaymentsContainer {
    display: none;
}

.footerMainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-dark-blue);
}

.footerMain {
    width: 90%;
    background-color: var(--background-dark-blue);
    display: flex;
    flex-direction: column;
}

.paymentsImg {
    object-fit: contain;
}

.footerSocials {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid var(--border-blue);
    display: flex;
    gap: 10px;
}

.social {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.socialIcon {
    color: var(--text-white);
    font-size: 20px;
}

.facebook {
    background-color: #3b5999;
}

.instagram {
    background: linear-gradient(45deg, #ed8d81, #d83982)
}

.x {
    background-color: #32a3ce;
}

.discord {
    background-color: #7289d9;
}

.footerLinksContainer {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 20px;
}

.footerLogoContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footerEmail {
    color: var(--text-white);
    font-size: 14px;
    text-decoration: none;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footerTitle {
    font-size: 16px;
    color: var(--text-white);
    font-weight: bold;
}

.footerLink {
    font-size: 13px;
    color: var(--text-ligth-grey);
    cursor: pointer;
    text-decoration: none;
}

.footerRatingContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footerRating {
    display: flex;
    gap: 1px;
}

.ratingStar {
    background-color: #00b67a;
    width: 16px;
    height: 16px;
    display: grid;
    place-items: center;
    font-size: 12px;
    color: var(--text-white);
}

.footerRatingText {
    font-size: 14px;
    color: var(--text-ligth-grey);
}

.footerCopyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 15px;
    color: var(--text-ligth-grey);
}

@media screen and (min-width: 480px) {
    .footerPaymentsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--background-payments);
    }

    .footerPayments {
        width: 90%;
        padding: 30px 0;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        color: var(--text-white-secondary);
    }

    .footerLinksContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footerLogoContainer,
    .footerLinks {
        align-items: flex-start;
    }

    .footerRatingContainer {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    .footerPayments {
        width: 70%;
    }

    .footerMain {
        width: 70%;
    }

    .footerLinksContainer {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1500px) {

    .footerPayments,
    .footerMain {
        max-width: 1340px;
    }
}