.appContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex-grow: 1;
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-color: var(--background-dark-blue);
}

.mainBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.cardGridContainer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 50px;
  z-index: 2;
}

.cardGridContent {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.cardGridTitle {
  font-size: 25px;
  font-weight: bold;
  color: var(--text-white);
}

.cartDropdownContainer {
  position: absolute;
  top: -40px;
  right: 10px;
  z-index: 2000;
}

@media screen and (min-width: 480px) {
  .cardGridContainer {
    padding: 50px;
    padding-top: 100px;
  }
}

@media screen and (min-width: 600px) {
  .cardGridContent {
    max-width: 590px;
  }
}

@media screen and (min-width: 900px) {
  .cardGridContent {
    max-width: 840px;
  }
}

@media screen and (min-width: 1500px) {
  .cardGridContent {
    max-width: 1300px;
  }
}
